<form action="https://nozbe.info/add_subscriber.html" accept-charset="utf-8" method="post">
	<!-- Email field (required) -->
	<input type="text" name="email" placeholder="Podaj swój adres e-mail" /><br/>
	<!-- List token -->
	<!-- Get the token at: https://nozbe.info/campaign_list.html -->
	<input type="hidden" name="campaign_token" value="fS1Lq" />
	<!-- Thank you page (optional)
	<input type="hidden" name="thankyou_url" value="/potwierdzenie/"/>-->
	<!-- Add subscriber to the follow-up sequence with a specified day (optional) -->
	<input type="hidden" name="start_day" value="0" />
	<!-- Forward form data to your page (optional) -->
	<input type="hidden" name="forward_data" value="post" />
	<!-- Subscriber button -->
	<input type="submit" value="Zapisz się!"/>
</form>

	<!-- https://adwentrodzinny.pl/witamy/ -->
	<!-- https://adwentrodzinny.pl/potwierdzenie/ -->
	<!-- https://adwentrodzinny.pl/dzieki/-->
	<!-- TODO: write first message -->
