//
// VARIABLES
//

// Colors

//Main color - blue in my case
$main: #cca3ff;//#073cd6;
$mainDim: #cca3ff99;//#073cd699;
$mainBack: #33066d;//#f9faff;
$mainD: #cca3ff;//#6c9efd; 
$mainDDim: #cca3ff99;//#6c9efd99;
$mainDBack: #33066d;//#080c1e;
$back: #130924;//#190332;//#fff;
$backD: #130924;//#190332;//#000; //#190332
$text: #eee;//#333;
$textD: #eee;
$textG: #666;
$textW: #fff;
$textB: #000;
$block: #545454;
$blockBack: #dcdcdc;
$blockD: #b5b5b5;
$blockDBack: #353535;

//bg: #190332
//bg foot: #33066d
//link/text: #cca3ff

// Font stacks
@font-face {
  font-family: "color-emoji";
  src: local("Apple Color Emoji"),
       local("Segoe UI Emoji"), 
       local("Segoe UI Symbol"),
       local("Noto Color Emoji");
}

$font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Verdana", sans-serif, color-emoji;
$fontserif: Georgia, Cambria, "Palatino Linotype", "Book Antiqua", Palatino, "Times New Roman", Times, serif, color-emoji;
$fontmono: 'Lucida Console', 'Bitstream Vera Sans Mono', 'Courier', Monaco, monospace, color-emoji;


// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

//Dark mode mixin
@mixin dark-mode {
  @media (prefers-color-scheme: dark) { @content; }
}