<!DOCTYPE html>
<html><head>

<title>{% if page.title %}{{ page.title }} – {{ site.data.main.titleshort }}{% else %}{{ site.data.main.title }}{% endif %}</title>

<meta charset="utf-8" />
<meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

<meta name="twitter:card" content="summary_large_image" />
{% if page.title %}
<meta property="og:title" content="{{ page.title }}" />
<meta property="twitter:title" content="{{ page.title }}" />
{% else %}
<meta property="og:title" content="{{ site.data.main.title }}" />
<meta property="twitter:title" content="{{ site.data.main.title }}" />
{% endif %}
{% if page.excerpt %}
<meta name="description" content="{{ page.excerpt | strip_html }}" />
<meta property="og:description" content="{{ page.excerpt | strip_html }}" />
<meta property="twitter:description" content="{{ page.excerpt | strip_html }}" />
{% else %}
<meta name="description" content="{{ site.data.main.description | markdownify | strip_html }}">
<meta property="og:description" content="{{ site.data.main.description | markdownify | strip_html }}" />
<meta property="twitter:description" content="{{ site.data.main.description | markdownify | strip_html }}" />
{% endif %}
{% if page.cover %}
<meta name="twitter:image" content="{{ site.url }}/img/{{ page.cover }}" />
<meta property="og:image" content="{{ site.url }}/img/{{ page.cover }}" />
{% else %}
<meta name="twitter:image" content="{{ site.url }}/img/adwent-2021.jpg" />
<meta property="og:image" content="{{ site.url }}/img/adwent-2021.jpg" />
{% endif %}
<meta name="author" content="{{ site.data.main.name }}" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:locale" content="pl" />
<meta property="og:type" content="article" />
<meta property="og:site_name" content="{{ site.name }}" />

<!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<link rel="stylesheet" type="text/css" href="{{ site.url }}/style.css" />
<link rel="alternate" type="application/rss+xml" title="{{ site.data.main.title }}" href="{{ site.url }}{{ langpath }}/atom.xml" />
<link rel="icon" type="image/png" href="{{ site.avatar }}">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1KPKWJTHP5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-1KPKWJTHP5');
</script>


<script type="text/javascript" src="{{ site.url }}/js/scripts.js"></script>
</head>{% if page.js %}<body onload="{{ page.js }}();">{% else %}<body>{% endif %}

<header><div class="header"><a href="/"><img src="https://adwentrodzinny.pl/img/adwent-rodzinny-banner.jpg" border="0" /></a></div></header>

{{ content }}

<div class="begend" id="footer" style="background: url('{{ site.url }}/img/adwent-tlo.png') center center / cover no-repeat;">
	<div class="begender">
{% if page.test %}Zapraszamy do wspólnej rodzinnej zabawy!{% endif %}
<h2>Chcesz powiadomienia codziennie na e-maila?</h2>
<p>Zapisz się (<a href="/onas/">wysyłamy TYLKO powiadomienia adwentowe</a>🙂)<p>
{% include email.html %}
<p>Chcesz wiedzieć więcej?</p>
<h3><a href="/lista/">Pełna lista wszystkich aktywności na Adwent 2024</a></h3>
<h3><a href="/wieniec/">Wieniec Adwentowy - jak przygotować?</a></h3>
	<h2>{{ site.data.main.titl }}</h2>
	<p>{{ site.data.main.des1 | markdownify }}</p>
	<p>{{ site.data.main.des2 | markdownify }}</p>
	<div class="container">
		<div class="left">
		<p>{{ site.data.main.des3 | markdownify }}</p>
		<p>{{ site.data.main.des4 | markdownify }}</p>
		</div>
		<div class="right">
		<h3>{{ site.data.main.dest }}</h3>
		<a href="{{ site.data.main.fb }}" class="avatar" title="{{ site.data.main.title }}"><img src="/img/wrsmlogo.png" alt="WRSM"></a>
		<p>{{ site.data.main.deso }}<br><a href="{{ site.data.main.fb }}">{{ site.data.main.desf }}</a></p>
		</div>
	</div>
	</div>
	<div class="begender center">
	<p>&copy; {{ site.time | date: '%Y' }} <a href="{{ site.url }}/">{{ site.data.main.name }}</a> | <a href="{{ site.url }}/onas">{{ site.data.main.dess }}</a></p>
	<br />
	</div>
</div>

</body></html>