---
layout: default
---

<article class="post">
<header><div class="headerblack">
	<h1>{{ page.title }}</h1>
	{% include lang.date.html date=page.date %}
	<h2>{{ langdate }}</h2>
</div></header>
<div class="entry">
	{{ content }}
</div>
<div id="komentarze">
	<div id="disqus_thread"></div>
	<script>
	/*
	var disqus_config = function () {
	this.page.url = '{{ site.url }}';
	this.page.identifier = '{{ page.url}}';
	};
	*/
	(function() { // DON'T EDIT BELOW THIS LINE
	var d = document, s = d.createElement('script');
	s.src = 'https://adwentrodzinny-pl.disqus.com/embed.js';
	s.setAttribute('data-timestamp', +new Date());
	(d.head || d.body).appendChild(s);
	})();
	</script>
</div>
</article>